
header {
	.headercatalogo {
		z-index: 9999;
		background-color: $colorheader;
	}
	background-color: $colorheader;

	.container {
		max-width: 1400px;
		margin: auto;
		display: flex;
		flex-direction: row;
        justify-content: space-between;
		align-items: center;

		.logo {
			margin: 0;
			padding: 25px 30px;
			font-weight: bold;
			color: $colorverde;
			font-size: 1.6em;
		}

		nav {
			display: flex;
			flex-direction: row;
			text-align: center;
			padding-bottom: 10px;
			justify-content: flex-end;

			a {
				padding: 5px 12px;
				text-decoration: none;
				font-weight: bold;
				color: $colornegro;
				&:hover {
					color: $colorverde;
				}
			}
		}
	}
}







