
$fuentegeneral: 'Roboto', sans-serif;

$colornegro: rgb(0, 0, 0);
$colorverde: rgb(62, 245, 102);
$colorblanco: rgb(255, 255, 255);

$color-fondogeneral: rgb(239, 239, 241);
$color-patrondefondo1: rgb(254, 253, 255);
$color-patrondefondo2: #fefdff77;

$colorhover: rgb(229, 164, 255);
$colorbordeboton: rgba(0, 0, 0, 0.5);

$colorheader: rgb(245,245,245);

$colorhero: rgb(255, 255, 255);
$colorsombra: rgba(0,0,0,0.5);

$colorfondoindex: rgb(30, 30, 30);

$colorfooter: #747373;

$colorform: #0000004d;
$colorform-group: #5757577e;
$colorform-i-l: #706c6c;














