
main {
    .formform {
        display: flex;
        min-height: 100vh;
        .form {
            background-color: $colorblanco;
            margin: auto;
            width: 90%;
            max-width: 400px;
            padding: 4.5em 3em;
            border-radius: 10px;
            box-shadow: 0 5px 10px $colorform;
            text-align: center;

            .form-link {
                font-weight: 400;
                color: $colornegro;
            }

            .form-title {
                font-size: 2rem;
                margin-bottom: .5em;
            }

            .form-paragraph {
                font-weight: 300;
                font-size: 1em;
            }

            .form-submit {
                background: $colorverde;
                color: $colorblanco;
                font-family: $fuentegeneral;
                font-weight: 300;
                font-size: 1rem;
                padding: .8em 0;
                border: none;
                border-radius: .5em;
            }

            .form-container {
                margin-top: 3em;
                display: grid;
                gap: 2.5em;

                .form-group {
                    position: relative;
                    color: $colorform-group;

                    .form-input {
                        &:focus {
                            + {
                                .form-label {
                                    transform: translateY(-12px) scale(.7);
                                    transform-origin: left top;
                                    color: $colorverde;
                                }
                            }
                        }
                        &:not(:placeholder-shown) {
                            + {
                                .form-label {
                                    @extend .form-label
                                }
                            }
                        }
                    }
                    
                    .form-input {
                        width: 100%;
                        background: none;
                        color: $colorform-i-l;
                        font-size: 1rem;
                        padding: .6em .3em;
                        border: none;
                        outline: none;
                        border-bottom: 1px solid;
                        font-family: $fuentegeneral;
                    }

                    .form-label {
                        color: $colorform-i-l;
                        cursor: pointer;
                        position: absolute;
                        top: 0;
                        left: 5px;
                        transform: translateY(10px);
                        transition: transform .5s, color .3s;
                    }

                    .form-line {
                        position: absolute;
                        bottom: 0;
                        left: 0;
                        width: 100%;
                        height: 1px;
                        background-color: $colorverde;
                        transform: scale(0);
                        transform: left bottom;
                    }

                }

            }

        }

    }
}
























